@import 'variables';
@import 'mixins';

html {
  font-family: "Raleway", sans-serif;
}

body {
  height: $full-height;
  width: $full-width;
  margin: 0;
}

nav {
  @include flex-row();
  justify-content: flex-end;
  background-color: $secondary-accent-color;
  margin-left: 0;
  height: 62px;
}

.dog-icon {
  position: absolute;
  width: 40px;
  height: 40px;
  margin-left: 30px;
  margin-top: 13px;
  margin-bottom: 11px;
}

nav, 
.intro-area,
.info-area,
.learn-more-area {
  width: $full-width;
}

main {
  @include flex-column();
}

.nav-button {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: large;
  border: none;
  background-color: $secondary-accent-color;
  margin-right: 20px;
  color: white;
}

button {
  @include page-button(4px);
  background-color: white;
  font-size: x-large;
}



#factsNav {
  margin-right: 40px;
}

.intro-area {
  @include flex-column();
  height: 585px;
  background-image: url(../../dist/images/park.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  .page-title {
    font-size: xx-large;
    font-weight: 500;
  }
}

.page-title {
  margin-top: 47px;
}

.dog-intro-picture {
  @include circle-photo(5px);
  height: 345px;
  margin-bottom: 20px;
}

.info-area {
  height: 655px;
  @include flex-row();
}

.info-card {
  width: 33%;
  height: 100%;
  @include flex-column();
  h2 {
    margin-top: 50px;
    font-size: larger;
    font-weight: 500;
  }
  p {
    font-size: larger;
    text-align: center;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    text-wrap: wrap;
  }
}

.dog-info-picture {
  @include circle-photo(3px);
  height: 240px;
  margin-top: 20px;
}









.learn-more-area {
  height: 245px;
  background-color: $main-accent-color;
}

