@import 'variables';
@import 'mixins';

body {
  background: url('../../dist/images/park.jpg') center/cover;
  height: $full-height;
  width: $full-width;
  margin: 0;
}

nav {
  width: $full-width;
  background-color: $secondary-accent-color;
  margin: 0;
}

.dog-icon {
  width: 50px;
}