@import 'variables';
@import 'mixins';

html {
  font-family: "Raleway", sans-serif;
}

body {
  height: $full-height;
  width: $full-width;
  margin: 0;
}

nav {
  display: flex;
  justify-content: flex-end;
  background-color: $secondary-accent-color;
  margin-left: 0;
  height: 62px;
}

.dog-icon {
  position: absolute;
  width: 40px;
  height: 40px;
  margin-left: 30px;
  margin-top: 13px;
  margin-bottom: 11px;
}

nav, 
.intro-area,
.info-area,
.learn-more-area {
  width: $full-width;
}

main {
  display: flex;
  flex-direction: column;
}

.nav-button {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: large;
  border: none;
  background-color: $secondary-accent-color;
  margin-right: 20px;
  color: white;
}

#factsNav {
  margin-right: 40px;
}



.intro-area {
  height: 585px;
  background-image: url(../../dist/images/park.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
}

.info-area {
  height: 485px;
}

.learn-more-area {
  height: 180px;
  background-color: $main-accent-color;
}